@keyframes popUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideLeft {
  0% {
    margin-left: 100%;
    margin-right: -100%;
  }
  50% {
    margin-left: 0%;
    margin-right: 0%;
  }
  100% {
    margin-left: 150%;
    margin-right: -150%;
  }
}

@keyframes backAndForth {
  0% {
    margin-left: 0vw;
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1);
  }
  50% {
    margin-left: 40vw;
    transform: scaleX(-1);
  }
  90% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
    margin-left: 0vw;
  }
}

.anim-popup {
  animation: 1s ease-out 0s 1 popUp;
}

.anim-slide-left {
  animation: 4s ease-out 0s 1 slideLeft;
}

.anim-zoom-hover {
  transition: transform .2s;
}

.anim-zoom-hover:hover {
  transform: scale(1.2);
}

.anim-back-and-forth {
  animation: backAndForth infinite 6s;
}
