body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: #ff6600;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    margin: 20px;
}

h2 {
    text-align: center;
}

.ice-cream {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}