@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* root */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

html, body {
    overflow-x: hidden;
}


/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    flex-wrap: wrap;
    position: fixed;
    background-color: #fff;
    top: 0; 
    left: 0;
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    max-width: 100%;
}


nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    padding: 0.5rem 1rem; 
    display: block; 
    color: rgb(75, 75, 75);
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(116, 197, 255);
}



/* logo */
.logo img {
    height: 6.25rem;
    width: 6.25rem;
}

/* login button */
.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color:rgb(75, 75, 75);
    border-style: solid;
    width: auto;
    color: rgb(75, 75, 75);
    text-decoration: none;
    gap: 0.625rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.3125rem;
    
}

.login-button:hover {
    border-color: rgb(116, 197, 255);
    
}


/* hero section */
#hero {
    background-color: rgb(255, 245, 227);
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    text-align: left;
    margin-top: 5rem;
}
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#hero .btn {
    background-color: rgb(255, 157, 0);
    border-color:rgb(75, 75, 75);
    border-style: solid;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3125rem;
}

#hero .btn:hover {
    background-color: rgb(116, 197, 255);
}


/* products */
#products {
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    text-align: left;
}

#products h2 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

#products h3 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}


.product-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between; 
}

.product-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    width: 25rem;
    height: 32rem;
    border-radius: 1.563rem;
    background-image: linear-gradient(
      to bottom,
      #e6b542,
      #e8c372,
      #93cfe6,
      #72c6e8
    );
    padding: 1rem;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-card {
    width: 20rem;
    height: auto;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-item p {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.product-item img {
    display: block;
    margin: 0 auto;
    width: 70%; 
    height: 40%; 
    border-radius: 1rem;
    object-fit: cover; 
}

#products .btn {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: rgb(255, 157, 0);
    border-color:rgb(75, 75, 75);
    border-style: solid;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.3125rem;
}

.price-tag {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
}

.price-tag p {
    font-size: 2rem;
}

#price-discount {
    text-decoration: line-through;
    font-size: 1rem;
    color: red;
}

/* contact */
#contact {
    background-color: rgb(255, 245, 227); 
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: rgb(75, 75, 75);
}

.contact-form {
    width: 100%;
    max-width: 50rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    border: 2px solid rgb(0, 0, 0); 
}

.form-group {
    margin: 2rem 2rem 2rem 2rem;
    
}

.contact-form label {
    display: block;
    font-size: 1.25rem;
    color: rgb(75, 75, 75);
    margin-bottom: 0.5rem;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.875rem;
    border: 2px solid rgba(75, 75, 75, 0.5); 
    border-radius: 0.5rem; 
    font-size: 1rem;
    color: rgb(75, 75, 75);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: rgb(116, 197, 255); 
    outline: none;
}

.contact-form button {
    width: auto;
    background-color: rgb(255, 157, 0);
    border: 2px solid rgb(75, 75, 75);
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: rgb(116, 197, 255);
}

.contact-form button:active {
    background-color: rgb(255, 140, 0);
}


/* footer */
footer {
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

footer a {
    color: rgb(116, 197, 255);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: rgb(255, 157, 0);
}

footer p {
    margin: 0.5rem 0;
}

footer .social-icons {
    margin-top: 1rem;
}

footer .social-icons a {
    margin: 0 0.5rem;
    display: inline-block;
    color: white;
    font-size: 1.5rem;
}

footer .social-icons a:hover {
    color: rgb(255, 157, 0);
}

#hamburger, #close{
    display: none;
}
