/* global clearing */
*,
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8a28;

    
}


.login-container {
    display: flex;
    margin: 1rem;
    background-color: #61a706;
    box-shadow: 8px 8px 0px #000000;
    height: 85%;
    width: 80%;
}




.login-column {
    border: 3px solid black;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
}



.login-column h2,h3 {
    align-self: center;
    height: 10%;
    margin: 0; 
    
}

.logo-title {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    height: 5rem;
}

.logo {
    width: 5rem; 
    height: auto;
    margin: 1rem;
}

.login-column tab{
    display: flex;

}

.tab {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    border-left: none;
    border-right: none;
    background-color: #ff8a28;
    margin: 0;
    width: 100%;
    height: 4rem;
    
}

.tabcontent {
    margin: 1rem;
    
}


.tab button {
    width: 100%;
    height: 2rem;
    margin: 1rem;
    background-color: #ccc;
    
    border: 3px solid #000000;
    box-shadow: 8px 8px 0px #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab button:hover {
    background-color: #e4ff19;
}

.tab button.active {
   background-color: #f1f1f1;
    
}



.tabcontent {
    display: none;
}

.login-form {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

.form-group {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;

}


.form-group input,
.form-group button { 
    width: 100%;
    height: 2rem;
    margin: 0 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 3px solid #000000;
}

.form-group button {
    height: 3rem;
    background-color: #ff8a28;
    color: white;
    font-weight: bold;
    border: 3px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 8px 8px 0px #000000;
}

.form-group button:hover {
    color: #000000;
    font-weight: bold;
    background-color: #e4ff19;
}

.form-group select {
    width: 100%;
    height: 3rem;
    margin: 0 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 3px solid #000000;
    appearance: none;
    
}

.form-group select:focus {
    
    border-color: #f1f1f1;
}

.image-column {
    border: 3px solid black;
    border-left: none;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
}

.image-column video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


